<html>
    <head>
        <title>message board | messages</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <h1>message board</h1>
        <div id="nav">
            <h2><a class="current" href="/">messages</a></h2>
            <h2><a href="/about">about</a></h2>
            <h2><a href="/most-liked">most liked</a></h2>
        </div>
        <div id="main">
            <h2>messages</h2>
            <form action="add-post" method="post">
                <input type="text" name="sender" placeholder="name" required>
                <input type="text" name="content" placeholder="message" required>
                <button>post</button>
            </form>
            <% for (var i = 0; i < posts.length; i++) { %>
                <div class="post">
                    <p class="message"><span class="sender"><%= posts[i].sender %></span>: <%= posts[i].content %></p>
                    <p class="likes">(<%= posts[i].likes %> likes)</p>
                    <form action="like-post/<%= posts[i]._id %>" method="post" class="like">
                        <button class="like"><img src="/like.png"></button>
                    </form>
                </div>
            <% } %>
            <% if (numPosts > 0) { %>
                <p>(<a href="/?limit=<%= currentLimit + 10 %>">...<%=numPosts%> more posts</a>)</p>
            <% } %>
        </div>
    </body>
</html>
