<html>
    <head>
        <title>message board | most liked</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
    </head>
    <body>
        <h1>message board</h1>
        <div id="nav">
            <h2><a href="/">messages</a></h2>
            <h2><a href="/about">about</a></h2>
            <h2><a class="current" href="/most-liked">most liked</a></h2>
        </div>
        <div id="main">
            <h2>most liked</h2>
            <% for (var i = 0; i < posts.length; i++) { %>
                <div class="post">
                    <p class="message"><span class="sender"><%= posts[i].sender %></span>: <%= posts[i].content %></p>
                    <p class="likes">(<%= posts[i].likes %> likes)</p>
                </div>
            <% } %>
            <% if (numPosts > 0) { %>
                <p>(<a href="/most-liked?limit=<%= currentLimit + 10 %>">...<%=numPosts%> more posts</a>)</p>
            <% } %>
        </div>
    </body>
</html>
